.fade-in-opacity {
    opacity: 0;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        font-size: 0.3rem;
        opacity: 0;
    }
    20% {
        font-size: 1rem;
        opacity: 1;
    }
    80% {
        font-size: 1rem;
        opacity: 1;
    }
    100% {
        font-size: 0.3rem;
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {
    0% {
        font-size: 0.3rem;
        opacity: 0;
    }
    20% {
        font-size: 1rem;
        opacity: 1;
    }
    80% {
        font-size: 1rem;
        opacity: 1;
    }
    100% {
        font-size: 0.3rem;
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        font-size: 0.3rem;
        opacity: 0;
    }
    20% {
        font-size: 1rem;
        opacity: 1;
    }
    80% {
        font-size: 1rem;
        opacity: 1;
    }
    100% {
        font-size: 0.3rem;
        opacity: 0;
    }
}

@-o-keyframes fadeIn {
    0% {
        font-size: 0.3rem;
        opacity: 0;
    }
    20% {
        font-size: 1rem;
        opacity: 1;
    }
    80% {
        font-size: 1rem;
        opacity: 1;
    }
    100% {
        font-size: 0.3rem;
        opacity: 0;
    }
}

@-ms-keyframes fadeIn {
    0% {
        font-size: 0.3rem;
        opacity: 0;
    }
    20% {
        font-size: 1rem;
        opacity: 1;
    }
    80% {
        font-size: 1rem;
        opacity: 1;
    }
    100% {
        font-size: 0.3rem;
        opacity: 0;
    }
}
